<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disaster Statistics</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>

<h1>Disaster Statistics</h1>

<!-- Dropdown to select state -->
<select id="stateSelector">
    <option value="Queensland">Queensland</option>
    <option value="Northern Territory">Northern Territory</option>
    <option value="Western Australia">Western Australia</option>
    <option value="New South Wales">New South Wales</option>
    <option value="Tasmania">Tasmania</option>
    <option value="Victoria">Victoria</option>
    <option value="Outside Australia">Outside Australia</option>
    <option value="Australian Capital Territory">Australian Capital Territory</option>

  
</select>

<!-- Pie Chart for Total Deaths -->
<h2>Total Deaths by Category</h2>
<svg id="deathsChart"></svg>

<!-- Pie Chart for Total Injuries -->
<h2>Total Injuries by Category</h2>
<svg id="injuriesChart"></svg>

<script src="../static/app.js"></script>
<script src="../static/style.css"></script>

</body>
</html>
