<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
    <title>Chart.js example</title>

  </head>
  <body>
    <div id="stateFilter">
        
        <select id="statesFilter" onchange="optionChanged(this.value)">
        <option value="Queensland">Queensland</option>
        <option value="Northern Territory">Northern Territory</option>
        <option value="Western Australia">Western Australia</option>
        <option value="New South Wales">New South Wales</option>
        <option value="Tasmania">Tasmania</option>
        <option value="Victoria">Victoria</option>
        <option value="South Capital Territory">South Capital Territory</option>
        <option value="Outside Australia">Outside Australia</option>
        <option value="Australian Capital Territory">Australian Capital Territory</option>
        
        
        
        
        
    </select>
    </div>
    
    
        <canvas id="myChart"></canvas>
    <script type="/Javascript/static/app.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <!-- <script>
    
  
    const ctx = document.getElementById("myChart").getContext('2d');
    const myChart = new Chart(ctx, {
        type:"bar",
        data:  {
            labels: {{labels | safe}},
            datasets: [{
                label: "death total",
                data:
                    {{deaths | safe}}
                

            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }}
    )
    </script> -->
     <script src="https://d3js.org/d3.v7.min.js"></script>
     <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

     <script src="{{url_for('static', filename='app.js')}}"></script>


     
  </body>
</html>
